@keyframes growOut {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

.landing-container {
  background-color: #000000;
}

.landing {
  z-index: 110;
}

.landing-background {
  position: absolute;
  height: 110vh;
  width: 100%;
  z-index: 90;
  background: no-repeat center/cover rgba(18, 18, 18, 0.95) url('/images/background3.jpg');
  background-blend-mode: darken;
}

.landing-titles {
  margin: 0 50px;
}

.landing-title {
  font-weight: 200;
  font-size: 10.75rem;
  letter-spacing: 2px;
}

.landing-subtitle {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  animation: illuminate 2s ease-in 0.5s;
  animation-fill-mode: both;
}
